<!-- footer.component.html -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>My Portfolio</h4>
        <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
      </div>
<!--      <div class="col-md-4">-->
<!--        <h4>Links</h4>-->
<!--        <ul class="list-unstyled">-->
<!--          <li><a href="#">Link 1</a></li>-->
<!--          <li><a href="#">Link 2</a></li>-->
<!--          <li><a href="#">Link 3</a></li>-->
<!--          <li><a href="#">Link 4</a></li>-->
<!--        </ul>-->
<!--      </div>-->
      <div class="col-md-4">
        <h4>Contact</h4>
        <p><i class="fas fa-map-marker-alt"></i> 123 Main Street, New York, NY 10001</p>
        <p><i class="fas fa-envelope"></i> email@example.com</p>
        <p><i class="fas fa-phone"></i> +1 123 456 7890</p>
      </div>
    </div>
    <hr>
    <div class="text-center">
      <p>Designed and built by Me &copy; 2023</p>
    </div>
  </div>
</footer>
